body {
  margin: 0px;
}
html {
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  font-family: Arial, sans-serif;
  background-image: url(IMG_0005.jpeg);
}
.header h1 {
  font-size: 250%;
  margin-bottom: 0px;
  color: #e3a52f;
  text-shadow: 1px 1px #222;
}
.header h3 {
  margin-top: 0px;
  color: #f0f296;
  text-shadow: 1px 1px #222;
}
.header {
  font-family: "Georgia", serif;
  text-align: center;
  position: relative;
  top: -30px;
  width: 100%;
  display: block;
  padding-top: 0.5em;
  border-bottom: solid 2px #000;
  background-color: #4a6741;
}
.family {
  font-family: "Times New Roman", Times, serif;
  color: #000 !important;
}
.flex-container {
  justify-content: center;
  justify-self: center;
  padding: 10px;
  display:flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  
}
.box {
  margin: 1em;
  width: 40%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 18px 3px rgba(0,0,0, 0.5);
}
.box::after {
  content: "";
  filter: blur(20px);
  background-color: rgba(0,0,0,0.5);
  
}
.center h3 {
  text-align: center;
  border-bottom: solid 2px #000;
}
.center {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: relative;
  top: 5em;
}
